#display {
    background: black;
    max-width: 80%;
    color: green;
    font-family: monospace;
    font-size: 32px;
}

.grid {
    border: 5px solid green;
    display: grid;
    grid-gap: 0px;
    justify-content: center;
    align-content: center;
}

.score {

    text-align: right;
    align-content: right;
}

.cell {
    width: 20px;
    height: 20px;
}

.empty {
    background-color: black;
}

.wall {
   background-image: linear-gradient(to bottom right, gray, lightgray);

}

.block {
    background-image: linear-gradient(to bottom right, red, orange);
}

.paddle {
    background-color: yellow;
    height: 10px;
}

.ball {
    background-image: radial-gradient(circle, white, lightgray, darkgray);
    border-color: black;
    border-radius: 50%;
}