import { read_text_input, test_assert } from "./utils.js";

function run_dayn() {
    read_text_input("inputs/dayn.txt", (input) => {
        document.getElementById("dayn").innerHTML = ``;
    })
}

function tests_dayn() {
    let passes = 0;
    document.getElementById("testsn").innerHTML = `${passes}/0 tests passed!`;

}

export { run_dayn, tests_dayn };