body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: palegoldenrod;
  color: red;
}

h1 {
    text-align: center;
}

table.results {
  width: 100%;
  border-collapse: collapse;
  border: none;
  table-layout: fixed; 
  text-align: left;
}

td {
  border-width: 0px;
  border-collapse: collapse;  
  border: none;
}

tr:nth-child(odd) {
  background-color: palegreen;
}

tr:nth-child(even) {
  background-color: lightgreen;
}