body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgreen;
  color: red;
}

h1 {
    text-align: center;
}

table.results {
  table-layout: fixed;
  text-align: left;
}